
conda.enabled = true
report.overwrite = true

process {
    
    executor = 'slurm'
    cpus = 2
    memory = '40 GB'
    time = '2h'

    withName: 'm1_process' { 
        maxForks = 50
        errorStrategy = 'retry'
        maxRetries = 3
        memory = '20 GB'
        time = '2h'
        queue = "standard"
    }

    withName: 'm2_process' { 
        memory = '20 GB'
        time = '2h'
        queue = "standard"
        conda = "envs/nftemp.yml"
    }

    withName: 'm3_process' { 
        memory = '20 GB'
        queue = "gpu"
        time = "2h"
        clusterOptions = '--gres=shard:47 --nodelist=apollo-21'
    }

}


executor {
  $slurm {
    queueSize = 600
  }
}
